.cart_item {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10rem 5rem;
    border: 1px solid grey;
    background-color: transparent;
}