// Importing all Components sass here
@import "./components//Header//header.scss";
@import "./components//Home//home.scss";
@import "./components//Footer//footer.scss";
@import "./components/MovieCard/moviecard.scss";
@import "./components//MovieListing/movielisting.scss";
@import "./components/SearchMovie/SearchMovie.scss";




*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    height: auto;
    text-decoration: none !important;
    list-style-type: none !important;
}

